
main {
    display: grid;
    display: flex;
    grid-template-columns: repeat(auto-fill, 230px);
  }
  .my-masonry-grid {
   /* Not needed if autoprefixing */
    display: flex;
    justify-content: center; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  
  img{
    margin-bottom: 10px;
    border-radius: 13px;
    cursor: zoom-in;
    background-color: lightgray;
  }
  
  img:hover{
    filter: opacity(0.9);
  }
